<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tours form: </title>
</head>
<body>
<form method="post" autocomplete="off" th:object="${tour}">
    <div>
        <label>Departure: <input type="datetime-local" th:field="*{dateOfDeparture}"></label>
    </div>
    <div>
        <label>Arrival: <input type="datetime-local" th:field="*{dateOfArrival}"></label>
    </div>
    <div>
        <label>Length of tour: <input type="number" th:field="*{tourLength}"></label>
    </div>
    <div>
        <label>Type of board: <input type="text" th:field="*{boardType}"></label>
    </div>
    <div>
        <label>Price for adults: <input type="number" th:field="*{priceForAdult}"></label>
    </div>
    <div>
        <label>Price for child: <input type="number" th:field="*{priceForChild}"></label>
    </div>
    <div>
        <label>Number of adults: <input type="number" th:field="*{howManyAdults}"></label>
    </div>
    <div>
        <label>Number of children: <input type="number" th:field="*{howManyChildren}"></label>
    </div>
    <input type="submit" value="Zatwierdź">
</form>
</body>
</html>