<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="fragments.html :: my-head"></th:block>
  <title>List of tours: </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav th:replace="fragments.html :: my-header('tour-list')"></nav>
<div class="table-responsive">
<table class="table">
  <thead>
  <tr class="table-primary">
    <th scope="col" >Departure location</th>
    <th scope="col">Arrival location</th>
    <th scope="col">Destination</th>
    <th scope="col">Date of departure</th>
    <th scope="col">Date of arrival</th>
    <th scope="col">Tour length</th>
    <th scope="col">Type of board</th>
    <th scope="col">Price for adults</th>
    <th scope="col">Price for children</th>
    <th scope="col">Number of adults</th>
    <th scope="col">Number of children</th>
  </tr>
  </thead>
  <tr th:each="tour: ${tours}">
    <td th:text="${tour.departureLocation}"></td>
    <td th:text="${tour.arrivalLocation}"></td>
    <td th:text="${tour.destination}"></td>
    <td th:text="${tour.dateOfDeparture}"></td>
    <td th:text="${tour.dateOfArrival}"></td>
    <td th:text="${tour.tourLength}"></td>
    <td th:text="${tour.boardType}"></td>
    <td th:text="${tour.priceForAdult}"></td>
    <td th:text="${tour.priceForChild}"></td>
    <td th:text="${tour.howManyAdults}"></td>
    <td th:text="${tour.howManyChildren}"></td>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
    <td>
      <form th:action="@{/tour/delete}" method="post">
        <input type="hidden" name="id" th:value="${tour.id}">
       <button type="submit">Delete</button>
      </form>
    </td>
    <td>
      <form th:action="@{/tour/edit}" method="post">
        <input type="hidden" name="id" th:value="${tour}">
        <button type="submit">Edit</button>
      </form>
    </td>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
      <td>
        <form th:action="@{/basket/list}" method="post">
          <input type="hidden" name="tourId" th:value="${tour.id}">
          <button type="submit">Add to basket</button>
        </form>
      </td>
    </div>
  </tr>
</table>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')" class="container">
  <a th:href="@{/tour/add}">Add new trip</a>
</div>
</body>
</html>