<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona domowa</title>
    <th:block th:replace="fragments.html :: my-head"></th:block>
</head>
<body>
<nav th:replace="fragments.html :: my-header('home')"></nav>
<h1>Home page</h1>
<div sec:authorize="isAuthenticated()">
    User is logged in.
    <hr>
    You are logged in as: <strong sec:authentication="name"></strong>
    <hr>
    <a th:href="@{/tour/list}">List of tours</a>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        Only visible to the admin.
        <a th:href="@{/location/add}">Add new location</a>
        <a th:href="@{/location/list}">Location list</a>
    </div>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Log out">
    </form>
</div>
<div sec:authorize="isAnonymous()">
    You're not logged in.
    <h1>Log in</h1>
    <form autocomplete="off" method="post" th:action="@{/}">
        <div>
            <label>
                Username:
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>
                Password:
                <input type="password" name="password">
            </label>
        </div>
        <input type="submit" value="Log in">
    </form>
    <hr>

    <h1>Sign up</h1>
    <form autocomplete="off" method="post" th:action="@{/user/register}">
        <div>
            <label>
                Username:
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>
                Password:
                <input type="password" name="password">
            </label>
        </div>
        <input type="submit">
    </form>
    <hr>
</div>
</body>
</html>